.splash {
  background-image: url('../assets/background.jpg');
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
}
