/* You can add global styles to this file, and also import other style files */
body {
  background-color: white;
  height: auto;
  z-index: -5;
  overflow-x: hidden;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #3ea9be;
  padding: 15px;
  color: white;
  z-index: 10;
}
.text-muted {
  color: white;
}
